<!DOCTYPE HTML>
<html>
<head>
  <title>Facebook Page Analyzer</title>
  <script type="text/javascript" src="assets/js/Chart.bundle.min.js"></script>
</head>
<body>

<h1>Who is the most active fan?</h1>
{% block content %}{% endblock %}

</body>
</html>